sudo: required
dist: trusty

language: java
jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2/repository

before_install:
  # allocate commits to CI, not the owner of the deploy key
  - git config user.name "opentracingci"
  - git config user.email "opentracingci+opentracing@googlegroups.com"

  # setup https authentication credentials, used by ./mvnw release:prepare
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://$GH_TOKEN:@github.com" > .git/credentials

install:
  # Override default travis to use the maven wrapper
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - ./travis/publish.sh

branches:
  except:
    - /^[0-9]/

after_success:
  - mvn jacoco:report coveralls:report

env:
  global:
    # Ex. travis encrypt BINTRAY_USER=your_github_account
    - secure: "iDU9Ce8N53A3iq1vzjh/mVRbSxFa3v0xLoy2KaHEZmxDM0tCQcBJ9ty52eSnUHK4LFXn38MCHvYci6oKb0Ihq7cOuk6gE39dSAk25sDIGpWAAItgmGEDcSoV5UsBPodUmEazBVHJRm77HvlOocWzn+rXpNwOA+RjhKcV2OncLKhksUMyErtVWGg+QZuw5XjVFAGt+t9jf0ghIX+vcVI6F/b86nEEiKR/ifEPLZY4rmdmwXqcN94njyyqbdyOUL0DH+bzzVVelDVI520KvUf49iYX7aG75o50pr2sxH4/21WKP65uBO0Lp1AKY3niAIXPi+tUTN1QGngjqTpSxxb1Rimd6tlPL7ESAQ6jwWz5h9BYdpbnkq0xIU2tPADtlCqrZyLARJkPESAob0K9SZ/6coT4W1zL7vhKLu4VhZDPcPsxROAoT+WIAXB57DWC1WGksyVB9KHGCcgSjOOse1aDR5l17YXPXKwYO6g7ZgFjBUPM1HbldjwGfTLhJRqh3eYFKHv6uA6vzhwUyckHpEiMCnBv5sCghEd9uoxgGYNU94pIAmMraversagLzDsuOPd+/5J/083yzl2lyK9vWTlFJGnLRgohmfF6itJ+e49Ae66QTLxi7PhJ8grmFpK1ZRkfbJcPWTTjUYOX2kfFFUdOKy8zkjoiFTiP/VpntRaE4U4="
    # Ex. travis encrypt BINTRAY_KEY=xxx-https://bintray.com/profile/edit-xxx --add
    - secure: "qQuKx4Pb/ASkGXedYRu7SIc4HDUbXM4Qytq/m10UOWNdnzC+OSQE0fekXlhLZYMEbuyyE1RCyJlG0A49XggAnV7Fy8SubStboCqTyMyGtbWNsqZ7EPs5GsJajCZrzj6bxqltB1kwG0Z3JXqDn0nVynKDik1lkvFrvCGPis8c51dDl/uLfSqVI/OlZ2HLjxzM1Y/6ruKU+y4xM0qd3MjR+2U66HR4ItTA78RzCIxi4jDSRYVcNtdIHHgdgebHUSEStF2waURhEyjKbPy7zuYH/SxphDy3u7tBr93l6gdPVk380UUeD3EJhW9xI3XaWDtnqhszp43yDnD+hEpBafrNKv4ZUSzL+X46+SqLXbt+UwRT2zxv1r3Gc5qRY0Zu4OT698ZX/SnVb0uyG9c1Pdh7OBEBsnA8kk70+vyhBlOxGPqKKJgUi41T0lY9QaDx46EQ/rcVXPnial9WrwqbitW2JkGxp8trw9Cr4fw5yyDM79fXEpbIfIDeGG+drEx7rI2r8oYvTF72564QaOzOJrueG398HD3YaKoC7MjhcQ8w3YAJMBY3we4M2oVlebHBWaKLz8uNCXD1hYF/WzZ8bptZ5+wbedzGWkBSeofQ47UYa4mlg/mY6TRtcZX8yRnBgNr+JbGp+dVErZwaMsEveGc4k2+pkT4qmDml9bFIuentOjs="
    # Ex. travis encrypt GH_TOKEN=XXX-https://github.com/settings/tokens-XXX --add
    - secure: "Yoe4OYgk0+BaBo/31+FtLxVCIJeF/Qxep0TkhbfwEsXRCpL80H5GzYmkwPAN8+N54vT3F0gOmm/mL45GW4IMDqNXDHxbOMg7eIHHvktJssbHnImrRiBsNy8HJXtWSV2cOzgxvj52jAqwp3zAIrl1596YlO9fegwmqedmNuNYUqB2bfH+QMmM2vutbZWXOJvrKITYVUECMPNkrJDnk/hJPo15sTZ2p8rcFJEpyeEvLbYz0hjMNKOmZGgaWitJUoxRR2qej3FUV5z7Bs+Jb6svGk1hVhknjkGnOvIyqfl2RSQkU4sRGZRKjKrLgw8HVjlkMOJ5Ad7Pk7wQnkTcMnmzNqocmzLd+nc+AxzEmN7VgK0/kRzMMYuKzrONJMiT6rkoWTELzLbI3kJDbnGeQIFKPKYZKt8FyV5cpgnE0toWPnT3jLwjji5JDQClo+3PT8fOlTFtlp1iuwJXMZ36d1JIcj7grl3Vo/XThqbnWK60lYUgGiWzqwPUuxXC60fi1PYZ/ySDpiM1qVyUamxRws1QjRSOVWXROgi1Fkyr8mCYBU3GEG+PFVEm4hHkQ1qdkQ2rO2IiBaVxjAiym8NRbb1pyC8+zh741bN88hcfDzaGrMvR7Bsa8tq92+c6BTWIpLG86H8QzfiobrLiz8USwOmAWA3UIn35BStluMueHYf010o="
    # Ex. travis encrypt SONATYPE_USER=your_sonatype_account
    - secure: "KAYkoIVsmdhKYzIPhHhQlYXjVq71+UaK1UCkDQ0vpqMLmejPAQeJGVvPqq0Zl2lD72o9fjJ4RmnDgtc9LkyXi4aVKcFkxxgZaYDPqC+DNTPMtKM9o5rcKQ6r+O9Wxg12QTCa7CUNfNP0GcCDaEDD20tfz9Mw9uW5+s1o9Y/TvWcuU0F/XpHTv+uiAwWekKD8GGMczNuOQ/tgUApSQ3tSt3VB/BJAftceXimt8XfgVxHC4xxng1ZU3M2iuZxav3VelPdUJQDMnNo9Wskqva6oPQ9DnhFaJRUYbnZ7V3JgFW+twdK+6Kig6HGJVaZERE6dhLY/mBQ2wIoZh6h/WbUTaFsrVmr4eI5WsDZL9+llgAf6Adhrf6EbxXK8kyV26scfCznqfTt8CzS7fbsBDL9TfGDYgajN+cLVxI/MZR4jmazJw0LYTLLvjaOAi49jUxLcLnC/sNV7VaED55jh/vOYuvk8w7mirbE23EzuAiMWUHillTV9Rpf0otjBB240Z6BlC0x+rZy2d7elwF7PVlZpylOU6zVPIB4hD1+EwKetbGSHgy9UaBgzJNK25oKHQvgyQf/IsAKdAjg09RVSl8agoMqQERZgez5md3fQB1xZWsdqQbOPLhKt3LG984wFA4xyEf3YFa5IQuCyMAizlpPCBl1IJIaftTmKdWW/uxg0eFY="
    # Ex. travis encrypt SONATYPE_PASSWORD=your_sonatype_password
    - secure: "hf5XqLLl+EdZKs4g4173NTQkh8kiJHdONrptlHUlSUFTZNi+iIst2mvXkxk5snWJQlcQi1I1OlEmuASjSkA3soTlN0S74wD31t0eP2yP8icsNa9HXOQ/yJiVeE5RVJmCnQnJp0E6H8c5uF/mrOkwav4zJSSkGJNsg5hX5eSveAUaDEkx62DCYzfzjgvR2w8s4+l/xx3Sc5VRD/n9+ZuoEOCRUmNNSaZADvaCVj22rx4RGZOzyszO8TvBjVC4rjrNwup1ZncbOZKOjpK1Li8P7BTIZqoHkUaX6E/ebXAqgQXgc2OqJWXyQre2E7E2QcpGpLLMd69WbtPkLtJQGiWCKdk6hGDWNQo/u6cnZpb5Rhv0K9J0NkqCXYaXYBRV0ozo1QxkG287FMqD1KdESThOBiuXk/1NA09ZNICKu8n/B6gxiVFpr+R5+DQxT0JPjRUibP1SU9YjKuwzBZlSKyzcTYpfJ86iQL4e3HwRX+UrInPH5xkozts2ubo6VuzndwOWabgAzwyQ4vtHc1afm71deArU+Vuwsm2LUQo2+uEbbpQySOLBia3iFf2F4zitOxM1zJrxZbZVlWLDCG2Nwu2VvYLEiYFSVYoavWMdor18xi3ECUXQcrM0+o+p8Jurumc3rA3VH3LMrWirNVQe2mCCEPE36KibZ3pjHaxZAIstuos="
